/**
 * Created by iMac
 * 火一五信息科技有限公司
 * 联系方式:15288986891
 * QQ:3186355915
 * web:http://host.huo15.com
 * 日期：2017/1/9
 */

#header {
    background:url("../../images/header-bg.png") repeat-x 0 68px #1d6aea;

}

#header.new_header .hd_main {
    margin-top: 0px;
    height: 60px;
    padding-bottom: 5px;
}



.hd_main .intro li h4 {
    font-weight: bold;
    font-size: 12px;
    color:#fff;
}
.hd_main .intro li p {
    color: #ddd;
}


.hd_nav .hd_nav_bd {
    padding-left:0;
    position: relative;
    z-index: 1990;
    width: 1240px;
    margin: 0 auto;
}

.head_search_hot span {
    color: #fce736;
}
.head_search_hot a {
    margin: 0 8px 0 5px;
    color: #ffce44;
}

.hd_nav {
    background-color: #2083e9;
    height: 80px;
}
.hd_nav .sub_nav li.current a, .hd_nav .sub_nav li a:hover {
    color: #fff;
    background-color: #084079;
    text-decoration: none;
}
.hide {
    display: none;
}
.series_info .name_hufu {
    background-color: #084079;
}
.side-bar {
    border: 1px solid #E7E7E7;
    border-bottom: none;
    bottom: 190px;
    background: #fff;
}
#footer .w-ensure {
    background: #084079 none repeat scroll 0 0;
    height: 90px;
}

/*banner */
.index-slide {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    background: url(images/loading_nala.gif) center center no-repeat;
}

.index-slide ul {
    height:350px;
    overflow:hidden
}
.index-slide li {
    width:100%;
    height:350px;
    overflow:hidden;
    position:absolute;
    left:0;
    top:0;
    background-position:center 0;
    background-repeat:no-repeat
}
.index-slide li:first-child {
    z-index:2
}
.index-slide li a {
    display:block;
    height:350px;
    width:1196px;
    margin:0 auto
}
.index-slide .trigger-box {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 325px;
    left: 50%;
    z-index: 10;
    margin-left: -200px;
}
/*修改分类树*/
.hd_nav .main_nav .main_nav_link {
    width: 212px;
    height: 50px;
    margin-top: 15px;
    color: #fff;
    background-color: #f35f24;
    border:1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}
.hd_nav .main_nav .main_nav_link a {
    display: block;
    padding: 13px 10px 0 0;
    height: 35px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
}
.hd_nav .main_nav .main_nav_link i {
    position: absolute;
    top: 32px;
    right: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    font-size: 12px;
    line-height: 16px;
    -webkit-backface-visibility: hidden;
}
.hd_nav .main_nav .main_nav_link span.icon-th-list {
    position: absolute;
    top: 34px;
    left: 40px;


}
.search-wrapper {
    float: left;

}
#header.new_header .search_box {
    left:224px;
    top: 15px;
    width: 927px;
    height: 50px;
    border-color: #fff;
    border-width: 1px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    box-shadow: none;
}
#header .search_box .sea_submit {
    font-size: 15px;
    color: #fff;
    float: right;
    margin-right: 1px;
    height: 29px;
    width: 62px;
    padding-left: 6px;
    border: 0;
    background-color: #1c204d;
    cursor: pointer;
    letter-spacing: 5px;
    overflow: hidden;
}
#header.new_header .search_box .sea_submit {
    background-color: #084079;
    width: 80px;
    height: 50px;
}
#header.new_header .search_box .sea_input {
    padding-left:8px;
    width: 800px;
    height:40px;
    line-height: 40px;
    font-size: 16px;
}
#header.new_header .search_box .sea_input {
    margin: 7px 8px 0;
    border:none;
    background: none;
    outline: 0;
}
/* 分类树 */
.main_cata {
    margin-top:15px;
    width: 214px;
    height: auto;
    opacity: 0;
    display: none;
    filter: Alpha(opacity=0);
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 1999;
    padding-bottom: 10px;
}
.main_cata ul {
    width: 214px;
    padding: 10px 0;
    overflow: hidden;
    background-color: #e1faf4;
    border-bottom: 1px solid #ccc;
    box-shadow: -2px 4px 4px rgba(200,200,200,0.3);
}
.main_cata li {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: none;
    overflow: hidden;
    font-size: 0;
}
.main_cata li h3 {
    text-indent: 18px;

}
.main_cata li h3 a {
    font-size: 13px;
    /*margin-left: 10px;*/
    display: inline-block;
    font-family: "微软雅黑";
    color: #666;
}


/*购物车*/
.new_header .hd_cart {
    top: 15px;
}
.new_header .hd_cart .tit {
    border-color: #fff;
}
.hd_cart .tit {
    display: block;
    width: 66px;
    height: 38px;
    padding-top: 10px;
    padding-left:10px;
    position: relative;
    z-index: 10;
    background: none;
    border: 1px solid #fff;
    border-right: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.hd_cart .tit span {
    position: absolute;
    right: 0;
    top: -1px;
    display: block;
    width: 30px;
    height: 33px;
    padding-top: 17px;
    background-color: #084079;
    text-align: center;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
}

.hd_cart .tit em {
    position: absolute;
    left: 40px;
    top: 15px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-color: #084079;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding: 0 5px;
    line-height: 16px;
    visibility: hidden;
}



.hd_cart .list {

    top: 54px;

}

/*新闻中心*/
.newsCenter-wrapper {
    height:44px;
    margin:14px 0 14px 0;
    background: #3eb6e8;
    padding-left:240px;
    overflow: hidden;
}

.newsCenter-wrapper .newsCenter {
    width:1240px;
    margin:0 auto;
    font-size: 16px;
    line-height: 44px;
}
.newsCenter-wrapper .newsCenter ul {
    position: relative;
    overflow: hidden;
}
.newsCenter-wrapper .newsCenter ul li {
    position: absolute;
    height:44px;
}


/*产品展示*/
.w-max {
    width: 1240px;
}
.surprise-tit {
    height: auto;
}
.promotion_title {

}
.promotion_title .sur-titimg {
    background: #d4e4f0;
    width:1230px;
    padding-left:10px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    height:46px;
    margin-top:14px;
    margin-bottom:14px;
}
#promotion_a {
    line-height:46px;
    font-size:18px;

}
#promotion_a span {
    margin:0 5px 0 10px;
    display: inline-block;
}
.border-eee {
    border: 1px solid #f5f5f5;
}
.surprise-list {
    width: 100%;
    height: auto;
    background: #f5f5f5;
    border:none;
}

.surprise-list li {
    border:none;
    background: #fff;
    float: left;
    width: 302px;
    height: 365px;
    padding-top: 0px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:10px;
    margin-bottom:10px;
    overflow: hidden;
    position: relative;
}
.surprise-list li:first-child {
    border:none;
    background: #fff;
    float: left;
    width: 302px;
    height: 365px;
    padding-top: 0px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:10px;
    margin-bottom:10px;

}
.surprise-list li.last_4 {
    border:none;
    background: #fff;
    float: left;
    width: 302px;
    height: 365px;
    padding-top: 0px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:0;
    margin-bottom:10px;


}
.surprise-list li .imgBox {
    width: 302px;
    height: 193px;
    overflow: hidden;
}
.surprise-list li .imgBox img {
    width: 302px;
    height: 200px;
}
.surprise-list li h1 {
    height: 36px;
    line-height: 18px;
    text-align: center;
}
.surprise-list li .sur-hear {
    margin-bottom:20px;
}
.sur-price {
    width:272px;
    margin:0 auto;
    padding-top:5px;
    border-top:1px solid #DDDDDD;
}
.sur-num {
    color: #57ae60;
    font-size: 22px;
}
.sur-numbox {
    width:272px;
    margin:0 auto;
}
.sur-numbox .c999 del{
    font-size:16px;

}
.surprise-list li .buy-btn {
    margin-top:15px;
    width:100%;
    background: #2e7fb9;
}
.surprise-list li .buy-btn a {
    width:100%;
    background: #2e7fb9;
}
.atonce-buy-huo15 {
    text-decoration: none;
    height: 52px;
    line-height: 52px;
    color: #fff;
    background: none;
    display: block;
}
.heart-wrapper {
    position: absolute;
    margin: 10px;
    background: rgba(46, 127, 185, 0.6);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top:0;
    right:0;

}
.heart-wrapper:hover {
    background: rgba(233,33,33, 0.5);
}
.heart-wrapper a {
    width:16px;
    height:16px;
    padding:10px;
    display: block;
    color: #fff;
}
.heart-wrapper a:hover {
    color: #e92121;
}


/*内页样式*/
/*category.php 内容页*/
#wrapper {
    width: 1240px;
    margin: 10px auto 80px;
}
.maincon {
    width: 1014px;
    float: right;
}
.productlist {
    width: 1014px;
    overflow: hidden;
}
.productlist li {
    width: 243px;
    height: 342px;
    position: relative;
    float: left;
    margin: 0 14px 14px 0;
    overflow: hidden;
    display: inline;
}


/*文章内容页 article.php*/
.help_main {
    padding-top: 10px;
    width: 1240px;
    margin: 0 auto;
}
.help_right {
    width: 1000px;
    background-color: #fff;
    float: right;
    border: 1px solid #e4e4e4;
    text-align: left;
}


/*会员中心 user.php*/
.my_nala_centre {
    float: right;
    width: 1000px;
    background-color: #fff;
}

/*商品详情页 goods.php*/
.z-detail-box {
    width: 1240px;
    margin: 0 auto;
}
.z-detail-left {
    width: 1010px;
    float: left;
    background-color: #fff;
}
.tabs_bar {
    height: 48px;
    width: 1008px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    z-index: 999;
    top: 0;
}

/*购物车 流程图*/
.top-next {
    color: #666;
    padding-bottom: 10px;
    padding-left:5px;
    background: #222222;
}
.step-wrapper {
    padding:3px;
    padding-bottom:0px;

}
.step-wrapper .hd-step {
    float: right;
    width: 500px;
    padding-top: 0px;
}
.top-next .fr{
    padding:5px 5px 0 0 ;
}

.top-next .fr .btn:hover, .top-next .fr .btn-css3:hover {
    text-decoration: none;
    color: #fff;
    background: #084079;
}

.top-next .fr .btn, .top-next .fr .btn-css3 {
    display: inline-block;
    padding: 5px 12px;
    height: 16px;
    line-height: 16px;
    _line-height: 18px;
    border: 1px solid #1c204d;
    border-radius: 3px;
    font-size: 100%;
    color: #fff;
    background-color: #2083e9;
    overflow: hidden;
    vertical-align: middle;
}



/*flow.php 主体部分*/
#main {
    width: 1240px;
    margin: 30px auto 50px;
}
.goods-list li {
    zoom: 1;
    width: 1206px;
    border-bottom: 1px dotted #cbcbcb;
    color: #666;
    padding: 10px;
}


/*收货人信息 flow.php?step=consignee*/
.cart_main {
    width: 1178px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(204,204,204,0.5);
    padding: 15px 30px;
    margin: 30px auto 50px;
}
.aui_outer {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}